<launch>
  <param name ="/use_sim_time" value="false"/>
  <!-- <include file="$(find sensor_dist_ros)/scripts/launch_gazebo.launch"/> -->
  <node name="edge1" pkg="sensor_dist_ros" type="rosEdge.py" output="screen" launch-prefix="xterm -T edge -hold -e"/>
  <node name="cloud9" pkg="sensor_dist_ros" type="rosCloud.py" output="screen" launch-prefix="xterm -T cloud -hold -e"/>
  <node name="plotter1" pkg="sensor_dist_ros" type="rosPlotter.py" output="screen" launch-prefix="xterm -T plotter -hold -e"/>
</launch>
